# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

pandas~=1.5.1
requests~=2.28.1
numpy~=1.21.5
regex~=2022.7.9
beautifulsoup4~=4.11.1